ncr_website/integrations/esma/xsd/fees/CRA3_FeesDataTypes1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dtypes="urn:publicid:ESMA:CRA3:DATATYPES:V1.0" targetNamespace="urn:publicid:ESMA:CRA3:DATATYPES:V1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="StandardDataTypes1.0.xsd"/>
	<xs:include schemaLocation="CommonErrorDataTypes1.0.xsd"/>
	<xs:annotation>
		<xs:documentation>This document provides the types that the FEES system uses for DATFQL and DATFQN XML files. v1.0.
									  It extends from StandardDataTypes and CommonErrorDataTypes which are files common to all the ESMA messages.
		</xs:documentation>
	</xs:annotation>
	<!-- ========================================================================
					Global Types can be assigned to any elements with the same Type profile
	  ======================================================================== -->
		<xs:simpleType name="StringRestricted40Type">
		<xs:annotation>
			<xs:documentation>Global String Restricted to 40 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AlphaNumeric5Type">
		<xs:annotation>
			<xs:documentation>Global Alpha Numeric Type Restricted to 5 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:AlphanumericType">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="Integer1to99Type">
		<xs:annotation>
			<xs:documentation>"Integer minimum value 1 and maximum value 99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:whiteSpace value="collapse"/>
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UnsignedInteger15pType">
		<xs:annotation>
			<xs:documentation>Format: Max 14(n) without decimal numbers. 
				Restriction not to allow negative values </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="0"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="nonNegativeInteger" id="nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>Positive integer, including 0. No max limit</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="DecimalRestrictedType">
		<xs:annotation>
			<xs:documentation>Maximum 2 decimal digitis.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">			
			<xs:fractionDigits value="2"/>			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IntegerRestrictedType">
		<xs:annotation>
			<xs:documentation>Only values 1,2,3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation>"Langage of the press release, ISO 639-1"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[a-z]+"/>
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================================================
				Fees Qualitative Data 
	  ======================================================================== -->
	
	<xs:complexType name="PricingPoliciesListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
			<xs:element name="PricingPolicy" type="dtypes:ComplexPricingPolicyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FeeSchedulesListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>"IssuerRatingInfo"</xs:documentation>
			</xs:annotation>
			<xs:element name="FeeSchedule" type="dtypes:ComplexFeeScheduleType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FeeProgrammesListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>"IssuerRatingInfo"</xs:documentation>
			</xs:annotation>
			<xs:element name="FeeProgramme" type="dtypes:ComplexFeeProgrammeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PricingProceduresListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>"IssuerRatingInfo"</xs:documentation>
			</xs:annotation>
			<xs:element name="PricingProcedure" type="dtypes:ComplexPricingProcedureType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	
		
	<xs:complexType name="ComplexPricingPolicyType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Pricing Policy</xs:documentation>
			</xs:annotation>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRAScope" type="dtypes:ComplexCRAScopeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PricingPolicyStartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PricingPolicyEndDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ModelIndicationList" type="dtypes:ComplexModelIndicationListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="ModelIndicationPPUnique">
					<xs:selector xpath="dtypes:ModelIndication"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="RatingTypeScopeList" type="dtypes:ComplexRatingTypeScopeListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="RatingTypeScopePPUnique">
					<xs:selector xpath="dtypes:Scope"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="IndustryList" type="dtypes:ComplexIndustryListType" minOccurs="0" maxOccurs="1">
				<xs:unique name="IndustryPPUnique">
					<xs:selector xpath="dtypes:Industry"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="AssetClassList" type="dtypes:ComplexAssetClassType" minOccurs="0" maxOccurs="1">
				<xs:unique name="AssetClassPPUnique">
					<xs:selector xpath="dtypes:AssetClass"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="SectorList" type="dtypes:ComplexSectorType" minOccurs="0" maxOccurs="1">
				<xs:unique name="SectorPPUnique">
					<xs:selector xpath="dtypes:Sector"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="PreviousPricingPolicyIdentifierList" type="dtypes:ComplexPricingPoliciesListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PricingPolicyFilename" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Language" type="dtypes:LanguageType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeScheduleType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Fee schedule</xs:documentation>
			</xs:annotation>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRAScope" type="dtypes:ComplexCRAScopeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeScheduleIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PricingPolicyIdentifierList" type="dtypes:ComplexPricingPoliciesListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeScheduleStartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeScheduleEndDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ModelIndicationList" type="dtypes:ComplexModelIndicationListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="ModelIndicationFSUnique">
					<xs:selector xpath="dtypes:ModelIndication"/>
					<xs:field xpath="."/>
				</xs:unique>				
			</xs:element>
			<xs:element name="RatingTypeScopeList" type="dtypes:ComplexRatingTypeScopeListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="RatingTypeScopeFSUnique">
					<xs:selector xpath="dtypes:Scope"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="IndustryList" type="dtypes:ComplexIndustryListType" minOccurs="0" maxOccurs="1">
				<xs:unique name="IndustryFSUnique">
					<xs:selector xpath="dtypes:Industry"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="AssetClassList" type="dtypes:ComplexAssetClassType" minOccurs="0" maxOccurs="1">
				<xs:unique name="AssetClassFSUnique">
					<xs:selector xpath="dtypes:AssetClass"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="SectorList" type="dtypes:ComplexSectorType" minOccurs="0" maxOccurs="1">
				<xs:unique name="SectorFSUnique">
					<xs:selector xpath="dtypes:Sector"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="SubAssetList" type="dtypes:ComplexSubAssetType" minOccurs="0" maxOccurs="1">
				<xs:unique name="SubAssetFSUnique">
					<xs:selector xpath="dtypes:SubAsset"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="PreviousFeeScheduleIdentifierList" type="dtypes:ComplexFeeScheduleIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeScheduleFilename" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Language" type="dtypes:LanguageType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeProgrammeType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Fee programme</xs:documentation>
			</xs:annotation>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRAScope" type="dtypes:ComplexCRAScopeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PricingPolicyIdentifierList" type="dtypes:ComplexPricingPoliciesListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeProgrammeStartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeProgrammeEndDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ModelIndicationList" type="dtypes:ComplexModelIndicationListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="ModelIndicationFPUnique">
					<xs:selector xpath="dtypes:ModelIndication"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="RatingTypeScopeList" type="dtypes:ComplexRatingTypeScopeListType" minOccurs="1" maxOccurs="1">
				<xs:unique name="RatingTypeScopeFPUnique">
					<xs:selector xpath="dtypes:Scope"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="IndustryList" type="dtypes:ComplexIndustryListType" minOccurs="0" maxOccurs="1">
				<xs:unique name="IndustryFPUnique">
					<xs:selector xpath="dtypes:Industry"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="AssetClassList" type="dtypes:ComplexAssetClassType" minOccurs="0" maxOccurs="1">
				<xs:unique name="AssetClassFPUnique">
					<xs:selector xpath="dtypes:AssetClass"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="SectorList" type="dtypes:ComplexSectorType" minOccurs="0" maxOccurs="1">
				<xs:unique name="SectorFPUnique">
					<xs:selector xpath="dtypes:Sector"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="SubAssetList" type="dtypes:ComplexSubAssetType" minOccurs="0" maxOccurs="1">
				<xs:unique name="SubAssetFPUnique">
					<xs:selector xpath="dtypes:SubAsset"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="FeeProgrammeTypesList" type="dtypes:ComplexProgramIncludedType" minOccurs="1" maxOccurs="1">
				<xs:unique name="FeeProgramFPUnique">
					<xs:selector xpath="dtypes:ProgramIncluded"/>
					<xs:field xpath="."/>
				</xs:unique>				
			</xs:element>
			<xs:element name="PreviousFeeProgrammeIdentifierList" type="dtypes:ComplexFeeProgrammeIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeScheduleIdentifierList" type="dtypes:ComplexFeeScheduleIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeProgrammeFilename" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>	
			<xs:element name="Language" type="dtypes:LanguageType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPricingProcedureType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Pricing Procedure</xs:documentation>
			</xs:annotation>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRAScope" type="dtypes:ComplexCRAScopeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PricingProcedureIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PricingPolicyIdentifierList" type="dtypes:ComplexPricingPoliciesListType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeScheduleIdentifierList" type="dtypes:ComplexFeeScheduleIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeProgrammeIdentifierList" type="dtypes:ComplexFeeProgrammeIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ProcedureStartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ProcedureEndDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PreviousPricingProcedureIdentifierList" type="dtypes:ComplexPricingProceduresListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PricingProcedureFilename" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>	
			<xs:element name="Language" type="dtypes:LanguageType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ========================================================================
		Fees Quantitative data
	  ======================================================================== -->
	<xs:complexType name="FeesClientSummaryUnderIssuerPaysModelListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
			<xs:element name="FeesClientSummaryUnderIssuerPaysModel" type="dtypes:ComplexFeesClientSummaryUnderIssuerPaysModelType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FeesClientSummaryUnderSubscriptionOrInvestorsPaysModelListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
			<xs:element name="FeesClientSummaryUnderSubscriptionOrInvestorsPaysModel" type="dtypes:ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModel" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FeesIndividualCreditRatingsUnderIssuerPaysModelListType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
			<xs:element name="FeesIndividualCreditRatingsUnderIssuerPaysModel" type="dtypes:ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
					
	<xs:complexType name="ComplexFeesClientSummaryUnderIssuerPaysModelType">
		<xs:sequence>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LegalEntitiesList" type="dtypes:ComplexLegalEntitiesListType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientRatings" type="dtypes:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="FeesForProgrammes" type="dtypes:ComplexFeesForProgrammesListType" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="AncillaryServicesFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MainAncillaryServicesList" type="dtypes:ComplexMainAncillaryServicesListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherServices" type="dtypes:BooleanType" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModel">
		<xs:sequence>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LegalEntitiesList" type="dtypes:ComplexLegalEntitiesListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PricingPoliciesWithFeesList" type="dtypes:PricingPoliciesWithFeesListType" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="IssuerRatedEntity" type="dtypes:BooleanType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TopClient" type="dtypes:BooleanType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeesReceivedForAncillaryServices" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>					
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelType">
		<xs:sequence>
			<xs:element name="ReportingTypeInfo" type="dtypes:ComplexReportingTypeInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RatingIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ContractStartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="FeeScheduleUsed" type="dtypes:ComplexFeeScheduleUsedType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PricingResponsiblesList" type="dtypes:ComplexPricingResponsiblesListType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeExemptionOrReduction" type="dtypes:BenefitedFromFeeExemptionReductionType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InitialFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SurveillanceFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OtherFees" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OtherFeesDescription" type="dtypes:BooleanType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NegotiationLinksWithOtherRatings" type="dtypes:BooleanType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LinkedRatingsList" type="dtypes:ComplexRatingsListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeProgramme" type="dtypes:BooleanType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
		
	
	<!-- ========================================================================
		Definitions
	  ======================================================================== -->
	
	<xs:complexType name="ComplexCRAScopeType">
		<xs:annotation>
			<xs:documentation>"List of LEIs.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComplexModelIndicationListType">
		<xs:annotation>
			<xs:documentation>"Indication of model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModelIndication" type="dtypes:ModelIndicationType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexRatingTypeScopeListType">
		<xs:annotation>
			<xs:documentation>"Description of the type of ratings or ancillary services included or covered by the pricing policy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Scope" type="dtypes:ScopeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexAssetClassType">
		<xs:annotation>
			<xs:documentation>When reporting structured fi-nance ratings indication whether the pricing policy applies to ratings within one of these seg-ments: (i) RMBS, (ii) ABS, (iii) CMBS, (iv) CDO, (v)ABCP, (vi) other. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssetClass" type="dtypes:AssetClassType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexIndustryListType">
		<xs:annotation>
			<xs:documentation>"When reporting corporate ratings indication whether the pricing policy applies to ratings within one of these industry segments: (i) financial, (ii) insurance, (iii) other corporates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Industry" type="dtypes:IndustryType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexSectorType">
		<xs:annotation>
			<xs:documentation>When reporting sovereign and public finance ratings indication whether the pricing policy applies to ratings within one of these segments: (i) State rating, (ii) Regional or local-authority rating, (iii) Supranational organisations (other than international financial institutions), (iv) public entities, (v) International financial institutions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sector" type="dtypes:SectorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexSubAssetType">
		<xs:annotation>
			<xs:documentation>When reporting structured finance ratings indication whether the pricing policy applies to ratings within one of these segments: (i) RMBS, (ii) ABS, (iii) CMBS, (iv) CDO, (v)ABCP, (vi) other. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubAsset" type="dtypes:SubAssetType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexProgramIncludedType">
		<xs:annotation>
			<xs:documentation>Description of the type of pro-gramme included in the fee pro-gramme, such as whether it relates to and/or includes a frequency of use programme, loyalty programme, multi-issuance programmes, purchase of a package of credit ratings or other types of programmes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramIncluded" type="dtypes:ProgramIncludedType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="ComplexFeeScheduleIdentifierListType">
		<xs:annotation>
			<xs:documentation>Description of the type of pro-gramme included in the fee pro-gramme, such as whether it relates to and/or includes a frequency of use programme, loyalty programme, multi-issuance programmes, purchase of a package of credit ratings or other types of programmes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FeeScheduleIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="ComplexPricingPoliciesListType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPricingProceduresListType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PricingProcedureIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeProgrammeIdentifierListType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexRatingsListType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RatingIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexLegalEntitiesListType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegalEntity" type="dtypes:ComplexLegalEntityType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PricingPoliciesWithFeesListType">
	<xs:annotation>
		<xs:documentation> </xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="PricingPolicyWithFees" type="dtypes:ComplexPricingPolicyWithFeesType" minOccurs="1" maxOccurs="unbounded"/>			
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPricingPolicyWithFeesType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeesCharged" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeScheduleIdentifierList" type="dtypes:ComplexFeeScheduleIdentifierListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeProgrammeList" type="dtypes:ComplexFeeProgrammeIdentifierListType" minOccurs="0" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexMainAncillaryServicesListType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MainAncillaryService" type="dtypes:ComplexMainAncillaryServiceType" minOccurs="1" maxOccurs="3"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesForProgrammesListType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FeeForProgrammes" type="dtypes:ComplexFeesForProgrammesType" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPricingResponsiblesListType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PricingResponsible" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeScheduleUsedType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>			
			<xs:choice minOccurs="1" maxOccurs="1">				
				<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FeeScheduleIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="None" type="dtypes:BooleanType" default="true" minOccurs="1" maxOccurs="1"/> 
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="ComplexMainAncillaryServiceType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MainAncillaryServiceName" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="MainAncillaryServiceRanking" type="dtypes:IntegerRestrictedType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesForProgrammesType">
	<xs:annotation>
		<xs:documentation> </xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>	
		<xs:element name="ProgrammeFeesAmount" type="dtypes:DecimalRestrictedType" minOccurs="1" maxOccurs="1"/>
		<xs:element name="RatingsList" type="dtypes:ComplexRatingsListType" minOccurs="1" maxOccurs="1"/>		
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexLegalEntityType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LegalEntityName" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="LegalEntityLEI" type="dtypes:LEICodeType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexIdentifierType">
		<xs:annotation>
			<xs:documentation>Identifier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="Version" type="dtypes:Integer1to99Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:simpleType name="ModelIndicationType">
		<xs:annotation>
			<xs:documentation>"‘I’ for issuer-pays model, and/ or ‘V’ for investor-pays or ‘S’ for investor-pays or subscriber pays model" .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="S"/>			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ScopeType">
		<xs:annotation>
			<xs:documentation>'C’ for corporate ratings (excluding covered bonds); ‘S’ for sovereign and public finance ratings; ‘T’ for structured finance ratings; ‘B’ for covered bond ratings; ‘O’ other types of ratings; ‘A’ for ancillary services
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="S"/>			
			<xs:enumeration value="T"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IndustryType">
		<xs:annotation>
			<xs:documentation>"FI" - for Financial institu-tions including banks, brokers and dealers; "IN" - for Insurance rating type; "CO" - for Corporate issu-ers that do not belong to FI or IN classes.				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="2"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="IN"/>			
			<xs:enumeration value="CO"/>			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AssetClassType">
		<xs:annotation>
			<xs:documentation>"ABS -  for ABS rating, RMBS -  for RMBS rating, CMBS -  for CMBS rating, CDO -  for CDO rating, ABCP -  for ABCP  rating, OTH -  for Other." .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:maxLength value="4"/>
			<xs:enumeration value="ABS"/>
			<xs:enumeration value="RMBS"/>
			<xs:enumeration value="CMBS"/>
			<xs:enumeration value="CDO"/>
			<xs:enumeration value="ABCP"/>
			<xs:enumeration value="OTH"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SectorType">
		<xs:annotation>
			<xs:documentation>"SV – for State rating, SM – for regional or local-authority rating, IF – for international financial institution rating, SO – for supranational organizations rating other than 'IF', PE – for public entities rating." .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="2"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="IF"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="PE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SubAssetType">
		<xs:annotation>
			<xs:documentation>"CCS - If ABS: Credit card receivable backed securities
				ALB - If ABS: Auto loan backed securities
				CNS - If ABS: Consumer loan backed security
				SME - If ABS: Small and medium sized enterprises loan backed securities
				LES - If ABS: Leases to individual or business backed security
				HEL - If RMBS: Home equity loans
				PRR - If RMBS: Prime RMBS,
				NPR - If RMBS: Non-prime RMBS
				CFH - If CDO: Cash flow and hybrid CDOs/CLOs
				SDO - If CDO: Synthetic CDOs/CLOs
				MVO - If CDO: Market value CDOs
				SIV - If OTH: structured investment vehicles
				ILS - If OTH: insurance-linked securities
				DPC - If OTH: derivative product companies
				SCB - If OTH: structured covered bonds
				OTH – Other." .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="3"/>
			<xs:enumeration value="CCS"/>
			<xs:enumeration value="ALB"/>
			<xs:enumeration value="CNS"/>
			<xs:enumeration value="SME"/>
			<xs:enumeration value="LES"/>
			<xs:enumeration value="HEL"/>
			<xs:enumeration value="PRR"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="CFH"/>
			<xs:enumeration value="SDO"/>
			<xs:enumeration value="MVO"/>
			<xs:enumeration value="SIV"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="DPC"/>
			<xs:enumeration value="SCB"/>
			<xs:enumeration value="OTH"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ProgramIncludedType">
		<xs:annotation>
			<xs:documentation>Indication whether the fee programme applies to one or more of:
				- ‘All’
				- ‘F’ frequency of use; 
				- ‘L’ loyalty programme;
				- ‘M’ multi-issuance pro-grammes; 
				- ‘B’ for package purchase of a pre-set number of credit ratings
				- ‘OTH’ other types of fee programme
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:maxLength value="3"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="OTH"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BenefitedFromFeeExemptionReductionType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="N"/>			
		</xs:restriction>
	</xs:simpleType>
	
     <!-- ======================================================================
		Cancellations definitions
	  ======================================================================== -->
		
	<xs:complexType name="ComplexPricingPolicyCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeScheduleCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeScheduleIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeeProgrammeCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPricingProcedureCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PricingProcedureIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesClientSummaryUnderIssuerPaysModelCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeesSummaryIssuerPaysModelIdentifier" type="dtypes:ComplexFeesClientSummaryUnderIssuerPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModelCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeesClientSummaryUnderSubscriptionOrInvestorsPaysModelIdentifier" type="dtypes:ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelCancellationType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:ReportingTypeType" fixed="DEL" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FeesIndividualCreditRatingsUnderIssuerPaysModelIdentifier" type="dtypes:ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesClientSummaryUnderIssuerPaysModelIdentifierType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModelIdentifierType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ClientIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelIdentifierType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResponsibleCRALEI" type="dtypes:LEICodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RatingIdentifier" type="dtypes:StringRestricted40Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportingYear" type="xs:gYear" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	
	
	<!-- ========================================================================
					Qualitative Data - CRA and methodology description 
	  ======================================================================== -->
	<xs:simpleType name="ReportingTypeType">
		<xs:annotation>
			<xs:documentation>"Reporting type" : Establishes if the reporting represents new information or change.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="3"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHG"/>
			<xs:enumeration value="DEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictiveReportingTypeType">
		<xs:annotation>
			<xs:documentation>"Reporting type" : Establishes if the reporting represents new information or change.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="dtypes:UpperAlphaType">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="3"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ComplexReportingTypeInfoType">
		<xs:sequence>
			<xs:element name="ReportingType" type="dtypes:RestrictiveReportingTypeType"/>
			<xs:element name="ReportingReason" type="dtypes:StringRestricted300Type" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
		
	 <!-- ========================================================================
					Technical fields
	  ======================================================================== -->
	<xs:simpleType name="VersionType">
		<xs:annotation>
			<xs:documentation>"Version" : The exact version of the XML Schema Definition (XSD) used to generate the file.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="([0-9])+\.([0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringRestricted300Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="300"/>
			<xs:minLength value="1"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringRestricted30Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringRestricted90Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="90"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringRestricted500Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<!-- ========================================================================
                                   Global Types for error messages
     ======================================================================== -->
	<xs:complexType name="ComplexQualitativeErrorWarningType">
		<xs:annotation>
			<xs:documentation>"Complex qualitative error" : contains "Error reference" and "Error message" and "Rating unique identifier".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordReportingType" type="dtypes:RecordReportingTypeType"/>
			<xs:element name="WarningErrorType" type="dtypes:WarningErrorTypeType"/>
			<xs:element name="QualitativeErrorWarningReference" type="dtypes:QualitativeErrorWarningReferenceType"/>
			<xs:element name="ErrorMessage" type="dtypes:ErrorMessageType"/>
			<xs:element name="QualitativeRecordIdentifier" type="dtypes:QualitativeRecordIdentifierType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuantitativeRecordIdentifierType">
		<xs:annotation>
			<xs:documentation>"Complex rating error" : contains "Error reference" and "Error message" and "Rating unique identifier".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordReportingType" type="dtypes:RecordReportingTypeType"/>
			<xs:element name="WarningErrorType" type="dtypes:WarningErrorTypeType"/>
			<xs:element name="RatingErrorWarningReference" type="dtypes:RatingErrorWarningReferenceType"/>
			<xs:element name="ErrorMessage" type="dtypes:ErrorMessageType"/>
			<xs:element name="FeesRecordIdentifier" type="dtypes:FeesRecordIdentifierType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QualitativeRecordIdentifierType">
		<xs:sequence>
			<xs:element name="ESMACRACode" type="dtypes:AlphaNumeric5Type"/>
			<xs:choice minOccurs="1" maxOccurs="1">				
				<xs:element name="PricingPolicyIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FeeScheduleIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FeeProgrammeIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="PricingProcedureIdentifier" type="dtypes:ComplexIdentifierType" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FeesRecordIdentifierType">
		<xs:sequence>
			<xs:element name="ESMACRACode" type="dtypes:AlphaNumeric5Type"/>
			<xs:choice minOccurs="1" maxOccurs="1">				
				<xs:element name="FeesClientSummaryUnderIssuerPaysModelIdentifier" type="dtypes:ComplexFeesClientSummaryUnderIssuerPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FeesClientSummaryUnderSubscriptionOrInvestorsPaysModelIdentifier" type="dtypes:ComplexFeesClientSummaryUnderSubscriptionOrInvestorsPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FeesIndividualCreditRatingsUnderIssuerPaysModelIdentifier" type="dtypes:ComplexFeesIndividualCreditRatingsUnderIssuerPaysModelIdentifierType" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:simpleType name="RecordReportingTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WarningErrorTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QualitativeErrorWarningReferenceType">
		<xs:annotation>
			<xs:documentation>"Error message" : Reference error code corresponding to the qualitative data report error reference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="CFL-[0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RatingErrorWarningReferenceType">
		<xs:annotation>
			<xs:documentation>"Error message" : Reference error code corresponding to the quantitative data report error reference. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="CFN-[0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileNameType">
		<xs:annotation>
			<xs:documentation>"File name" : Format: 5(a)_6(a)_5(a)_6(n)_2(n).3(a)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Z,0-9]{5}_[A-Z]{6}_[A-Z,0-9]{5}_[0-9]{6}_[0-9]{2}\.[a-z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
